.heading-title {
  font-family: 'Cinzel', serif;
}

.bottom_bdr {
  height: 1px;
}

.cart:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: translateX(-10px);
}

.bg {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.side_btn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-details .quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.product-details .quantity-button {
  display: inline-block;
  width: 2rem;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 0;
  cursor: pointer;
}

.product-details .quantity-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.product-details .quantity {
  display: inline-block;
  width: 2rem;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 0;
}

